<html>
    <head>
        <title>New post</title>
    </head>
    <body>
        <form action="/write" method="post">
            <label for="title">Title</label>
            <br>
            <input type="text" name = "title" id = "title">
            <br>
            <br>
            <label for="content">Content</label>
            <br>
            <textarea id = "content" name = "content" cols = "30" rows="10"></textarea>
            <br><br>
            <button>Send</button>
        </form>
    </body>
</html>